html {
  font-size: 10px;
}

body {
  font-family: -apple-system, center, Roboto;
  /*   font: Roboto; */
  font-size: 1.6rem;
  line-height: 1.5;
  color: black;
  text-align: justify;
  background-color: #b6b9be;
  margin: 0;
}
h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
@media (max-width: 350px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.2rem;
}

a {
  color: #f9ce00;
}

a:visited {
  color: #154984;
}

#main {
  margin: 30px 8px;
  padding: 20px;
  border-radius: 15px;
  background: #eee;
}

@media (max-width: 350px) {
  #main {
    margin: 0;
  }
}

img {
  width: 500px;
  border-radius: 17%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0 auto;
  /*   border-radius: 20px; */
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (width: 350px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#heading {
  margin: 45px 0;
  text-align: center;
  font-size: 20px;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: auto;
  text-align: center;
}
#bquote {
  text-align: center;
}

#search {
  text-align: center;
  margin: auto;
}

h3 {
  text-align: center;
}

#img-caption {
  text-emphasis: none;
  text-align: center;
}
#title {
  text-align: center;
}
#top-cap {
  text-align: center;
}